@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo h2 span{
    color: #FD6E0A;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner .banner-content{
    max-width: 585px;
}
#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-content h2{
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-content h1{
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
#banner .banner-content p{
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 131px 156px;
     text-align: center;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#about .about-container .about-info .card-info p{
    text-transform: capitalize;
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
#about .about-container .about-info .card-info h4{
    text-transform: capitalize;
    color: #474747;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    text-align: start;
    margin-top: 50px;
    gap: 24px;
}
#skills .skills-container .skill-box .skill-card{
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000027;
    max-width: 267px;
    border-radius: 5px;
    padding: 30px;
}
.skill-box .skill-card img{
    margin-bottom: 40px;
    max-width: 44px;
}
.skill-box .skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #181818;
}
.skill-box .skill-card p{
    line-height: 28px;
    font-size: 16px;
    color: #757575;
}